<!-- * * * * * * * * * * * * hello world * * * * * * * * * * * * * * * * * * * -->

<h1>My Table</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Phone Number</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let restaurant of restaurantData">
            <th>{{ restaurant.name }}</th>
            <td>{{ restaurant.city }}</td>
            <td>{{ restaurant.state }}</td>
            <td>{{ restaurant.phoneNumber }}</td>
            <td>{{ restaurant.genre }}</td>
        </tr>
    </tbody>
</table>